@import 'config/dimensions';
@import 'global';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  @include up-to($tablet-landscape) {
    overflow-x: hidden;
  }
}

.header {
  height: $header-height;
  position: relative;
}

.main {
  min-height: 100%;

  @include up-to($tablet-portrait) {
    height: 100%;
    padding: $content-space-mobile 0;
    top: $content-space-mobile;
  }
}

.footer {
  @include up-to($tablet-portrait) {
    display: none;
  }

  height: $footer-height;
  overflow-y: auto;
}
