@import '../layout';
@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

// homepage
.homebanner {
  opacity: 1;
  &:hover,
  &:focus {
    img {
      opacity: 0.8;
      z-index: 0;
    }

  }
  img {
    @include bottom-stat-border(3px, $grey-light);
    @include transition(500ms);
    opacity: 1;
    width: $full-width;
  }
}

.home-header {
  background-color: $grey-light;
  padding-bottom: $base-unit;
  padding-top: $base-unit;
  text-align: center;

  h3 {
    color: $text-color;
    font-size: $dash-intro-title;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

  h2 {
    color: $theme-blue;
    font-size: $dash-page-title;
    font-weight: $medium-font-weight;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
  }
  .text-section {
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    transform: translateX(30%);
    webkit-transform: translateX(30%);
    width: 63%;

    @include up-from($laptop) {
      margin-left: auto;
      margin-right: auto;
      transform: none;
      width: 800px;
    }

    p {
      color: $grey-medium;
      font-size: $medium-text;
      font-weight: $medium-font-weight;
      text-align: left;
    }
}

}

.homecontent  {
  float: left;
  // margin-left:$homecontent-centered;
  overflow: hidden;
  padding: $content-padding-vert;
  position: relative;
  width: $full-width;

  @include up-to($tablet-portrait) {
    padding: 0 $homecontent-padding;
  }

  h5 {
    color: $grey-medium;
    font-size: $medium-text;
    font-weight: $medium-font-weight;
    margin-bottom:  $base-unit / 2;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: $dashboard-description;
  }

  .buttons {
    margin: 0 auto $base-unit auto;
    overflow: hidden;
    width: $full-width;

    .button-col {
      float: left;
      width: $full-width/3;

      @include up-from($laptop) {
        width: $full-width / 2;
      }

      @include up-to($laptop) {
        width: $full-width / 2;
      }

      @include up-to($tablet-alt) {
        width: $full-width;
      }

      &.right {
        .button {
          float: left;
          @include up-to($tablet-alt) {
            float: none;
          }
        }
      }

      &.left {
        .button {
          float: right;
          @include up-to($tablet-alt) {
            float: none;
          }
        }
      }
    }
  }

  .all-dashboard {
    float: none;
    width: $full-width;

    .minidash-wrapper {
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;

      @include up-from($laptop) {
        width: $minidash-laptop-width;
      }

      @include up-to($laptop) {
        width: $minidash-under-laptop-width;
      }

      @include up-to($tablet-alt) {
        width: $full-width;
      }

      @include up-to($tablet-portrait) {
        width: $full-width;
      }

      .minidash {
        border: 3px solid $grey-light;
        float: left;
        margin: 0 22px;
        position: relative;
        width: 28%;

        &:hover {
          h2 {
            z-index: 2;
          }
        }

        @include up-to($tablet-landscape) {
          width: 27%;
        }

        @include up-to($tablet-alt) {
          margin: 0 20px;
          width: 27%;
        }

        @include up-to($tablet-portrait) {
          margin-bottom: $base-unit;
          width: $full-width - 15;
        }

        @include up-to($phone) {
          margin-bottom: $base-unit;
          width: $full-width - 25;
        }

        h2 {
          color: $text-inverse;
          font-size: $dashboard-intro;
          font-weight: $title-weight;
          left: $general-content-padding /3;
          margin: 0;
          position: absolute;
          text-align: center;
          top: $general-content-padding / 6;
          z-index: 2;
        }

        .content {
          color: $grey-deep;
          padding: $base-unit;
          text-align: left;

          .target-stat {
            @include bottom-stat-border(3px, $grey-light);
            color: $popup-stat-number;
            font-size: $medium-number;
            font-weight: $title-weight;
            margin-bottom: $base-unit;
            padding-bottom: $base-unit;
          }

          a {
            color: $theme-blue;
            display: block;

            &:hover {
              color: $grey-deep;
            }

          }

          h4 {
            margin: 0;
            @include up-to($tablet-alt) {
              font-size: 13px;
            }
          }

          h2 {
            font-size: $big-number;
            font-weight: $title-weight;
            left: 0;
            margin: -12px 0 10px 0;
            position: relative;
            text-align: left;
          }

          .edudash h2 {
            color: $status-medium;
          }
          .healthdash h2 {
            color: $status-poor;
          }
          .waterdash h2 {
            color: $status-medium;
          }

          p {
            margin-bottom: 0;
            @include up-to($tablet-alt) {
              font-size: 14px;
            }
          }

        }
      }
    }

  }

}

.static-content {
  margin: 0 auto;
  width: $static-content-width;
  &.text-center {
    text-align: center;
  }

  h2 {
    color: $theme-blue;
    font-size: $static-content-title;
    font-weight: $static-content-weight;
  }

  p {
    color: $text-color;
    font-size: $static-content-text;
    font-weight: $static-content-weight;
  }
}

.feedback-form-container {
  @include up-to($tablet-landscape) {
    padding-bottom: $iframe-height-table;
  }
  @include up-to($tablet-portrait) {
    left: $iframe-left-tablet;
    padding-bottom: $iframe-height-phone;
    width: $iframe-width-tablet;

  }
  height: 0;
  overflow: hidden;
  padding-bottom: $iframe-height-laptop;
  padding-top: $iframe-container-padding;
  position: relative;

  iframe {
    border: 0;
    height: $full-width;
    left: 0;
    position: absolute;
    top: 0;
    width: $iframe-width-desktop;
  }
}

.data-sources {
  list-style: none;
  margin-left: 0;
  margin-top: $general-content-padding;
  padding-left: 0;

  ul {
    list-style: none;

    li {
      float: left;
      margin-right: $data-source-margin;
      text-align: center;

      a {
        color: $theme-blue;

        &:hover {
          color: $text-color;
        }
      }

      img {
        display: block;
        margin: auto;
        margin-bottom: $header-common-margin;
      }
    }
  }
}
